@font-face {
    font-family: poppin;
    src: url('../Assets/Fonts/Poppins-Regular.ttf');
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppin;
}

/* Navbar started */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    
    color:#666666;
    border-bottom: 1px solid black;
    box-shadow: 2px 1px 2px rgba(192, 185, 185, 0.4);
    
}



.logo-img{
    width: 200px;
    height: 54px;
}

.nav-items{
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: poppin;
}

.sponsor-btn{
    padding: 8px;
    margin: 0px 15px 0px 0px ;
    background-color: #3b82f6;
    color: white;
    border-radius: 4px;
    border: none;
}

/* Navbar Ended */

/* Under Navbar started */

.coursel-container{
    display: flex;
    
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.img-part img{
    width: 448px;
    height: 520px;

}
.welcome-part{
    width: 1000px;
}

.Welcome{
    font-size: 38px;
    font-weight: bold;
    font-family: poppin;
}

.Sylani{
    color: #8dc63f;
}


.theLargest{
    font-size: 24px;
    font-weight: bold;
    margin: 28px 0px 12px;
}
.theLargest span{
    color: #3b82f6;

}

.welcome-para{
    width: 680px;
}

.Explore-btn{
    display: flex;
    margin-top: 10px;
    padding: 15px 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}
.Explore-btn img{
    height: 25px;
}
/* Under Navbar Ended */

/* Donations Types */

.Main-Donation{
    display: flex;
    justify-content: center;
    
}

.Donation-Types{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
    
    background-color: rgba(182, 239, 73, 0.2);
    border-radius: 10px;
}

.box{
    background-color: white;
    color: black;
    padding: 16px 24px;
    border-radius: 10px;
    font-weight: bold;
}
.bg-green{
    background-color: rgb(141, 198, 63);
    color: white;
}
.General-label{
    background-color: #666666;
    color: white;
    
        padding: 20px;
}
.General-input{
    font-size: 12px;
    padding: 20px;
}
.main-general{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Donations Types */